/*refference colors*/
:root {
    --MenubalkKleur:    #f20000;    /*rood*/
    --MenuTekstKleur:   #ffffff;    /*wit*/
    --AchtergrondKleur: #ffff6633;  /*bruinig en doorzichtig*/
    --MainTextKleur:    #999999;    /*lichter grijzig*/
    --aColor5:          #767a7e;    /*donkerder grijzig*/
}
/*de achtergrond van de volledige pagina*/
body {
    background-image: url("../Afbeeldingen/homepage_background.png");
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*het veld van de navigatiebalk*/
.navbar {
    top: 0;
    margin-left: unset;
    margin-right: unset;
    width: 100%;
    height: 8%;
    position: fixed;
    text-align: center;
    background-color: var(--MenubalkKleur);
    z-index: 5;
 }
/*alle A elementen in de navigatie balk*/
.navbar div a {
    max-width: 100%;
    text-decoration: none;
    float: center ;
    display: block;
    text-decoration: none;
    color: var(--MenuTekstKleur);
}
/*als je over een A element in de Navbar hovert*/
.navbar div a:hover {
    padding: 2.3% 2.3%;
    color: var(--MenubalkKleur);
    background-color: var(--MenuTekstKleur);
    font-size: 125%;
}
/*dit geeft aan op welke pagina je zit*/
.navbar div a.selected {
    padding: 2.3% 2.3%;
    color: var(--MenubalkKleur);
    background-color: var(--MenuTekstKleur);
    font-size: 125%;
}
/*dit is de rest van de pagina dat NIET in de navbar staat*/
#main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    background-color: var(--AchtergrondKleur);
    color: var(--MainTextKleur);
}
/*opmaak per "row" van content*/
#main .row{
    padding-top: 5%;
    border-left: 20px groove var(--MenubalkKleur);
    border-right: 20px groove var(--MenubalkKleur);
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}
/*logo padding*/
#navbar img {
    padding-left: 5%;
    padding-right: 5%;
}
/*de opmaak van ieder blokje met referenties*/
.recentie_kader {
    background-color: var(--AchtergrondKleur);
    margin-top: 2.5%;
    border: 10px groove var(--MenubalkKleur);
    border-radius: 5%;
    padding: 1%;
}
/*de titel van de referentie*/
.recentie_kader h2 {
    margin-left: 2%;
}
/*kleurt het aangerade deel van de referentie groen*/
.recentie_kader .aanrader {
    padding-bottom: 1%;
    color: greenyellow;
}
/*de paragraven in het referentie kader*/
p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}