:root {
    --aColor1: #E6E1C5;
    --aColor2: #D4CB92;
    --aColor3: #395C6B;
    --aColor4: #80A4ED;
    --aColor5: #BCD3F2;
}

#navbar {
    width: 100%;
    height: 13.5%;
    position: fixed;
    text-align: center;
    background-color: var(--aColor4);
    z-index: 2;
}

#navbar a {
    height: 100%;
    color: var(--aColor1);
}

#navbar a:hover {
    color: var(--aColor1);
}

#navbar #selected {
    background-color: var(--aColor3)
}

#main {
    
    padding-top: 10%;
    padding-left: -30%;
    color: var(--aColor4);  
}

.flex-container {
    display: flex;
    margin-left: -70%;
    flex-direction: row;
  }
#flex1 {padding:0%;}
.flex-container > div {
    background-color: #f1f1f1;
    opacity: 0.5;
    padding: 20px;
    font-size: 30px;
}

.flex-container #column1 {
padding: 20%;
Width: 200px;
}
 
.flex-container #column2 {
padding: 60%;
width: 200px;
}

body{
background-image: url("../Afbeeldingen/Background-minecraft-XBOX.png");
background-repeat: no-repeat;
background-size: 130%;
background-attachment: fixed;
}


#main   .row:after {
        content: "";
        display: table;
        clear: both;
        

}

