:root {
    --aColor1: #E6E1C5;
    --aColor2: #D4CB92;
    --aColor3: #395C6B;
    --aColor4: #80A4ED;
    --aColor5: #BCD3F2;
}

#navbar {
    width: 100%;
    height: 13.5%;
    margin-left: 0%;
    margin-right: 0%;
    position: fixed;
    text-align: center;
    background-color: var(--aColor4);
}

#navbar a {
    height: 100%;
    color: var(--aColor1);
}

#navbar a:hover {
    color: var(--aColor1);
}

#navbar #selected {
    background-color: var(--aColor3)
}

#Titel {
    padding-top: 6.75%;
    background-color: var(--aColor1);
    color: var(--aColor4);
}

/*Styling voor de div MinecraftRelease*/
#MinecraftRelease {
    text-align: center; /*Om de text in het midden van het scherm te krijgen.*/
}

/*Styling voor de div LijstOntwikkelingsfase*/
#LijstOntwikkelingsfase {
    list-style-type: none;
    text-align: center; /*Om de text in het midden van het scherm te krijgen.*/
}

/*Styling voor de hr's*/


