:root {
    --aColor1: #E6E1C5;
    --aColor2: #D4CB92;
    --aColor3: rgb(39, 182, 3);
    --aColor4: rgb(76, 90, 76);
    --aColor5: #BCD3F2;
}

#navbar {
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    height: 13.5%;
    position: fixed;
    text-align: center;
    background-color: var(--aColor4);
    z-index: 2;
}

#navbar img {
padding-left: 5%;
padding-right: 5%;
}

#navbar a {
    height: 100%;
    color: var(--aColor1);
}

#navbar a:hover {
    color: var(--aColor1);
}

#navbar #selected {
    background-color: var(--aColor3)
}

#main {
    
    padding-top: 10%;
    padding-left: -30%;
    color: var(--aColor2);  
}

body{
background-image: url("../Afbeeldingen/Hexagon\ background.jpg");       /*Geeft weer welke afbeelding wordt gebruikt als achtergrond*/
background-repeat: no-repeat;                                           /*Geeft aan dat de afbeelding maar 1 keer mag voorkomen*/
background-size: 100%;                                                  /*geeft aan hoe groot de afbeelding is*/
background-attachment: fixed;

font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;        /*Zorgt voor het lettertype*/
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;      /*Zorgt voor de lijnen rond de tekst*/
}


#main   .row:after {
        content: "";
        display: table;
        clear: both;
        

}

.container{
background-color: var(--aColor4);

}

.col-sm{
    opacity: 1;
}

